<configuration>

    <!-- Define the pattern for your logs -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File appender -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/bookstore.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/bookstore-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root logger, logging to console and file -->
    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
    </root>

    <!-- Define a custom logger for your package -->
    <logger name="com.example.demospringmongo" level="debug" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref  ref="File" />
    </logger>
</configuration>